@import "tailwindcss";
 
body { 
  font-family: Arial, Helvetica, sans-serif;
  
    background-color: rgb(232, 242, 251) ;
    color: #1B3A5B;
 
}
.input {
  @apply w-full p-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-[#27B19B];
}
.btn-primary {
  @apply flex items-center justify-center gap-2 py-4 rounded-xl font-bold text-white transition-all transform active:scale-[0.98];
}